.locate {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    z-index: 10
  }
  
  .locate img {
    width: 30px;
    cursor:pointer
  }

  /* .gm-style .gm-style-iw-c {
    background-color: #404040 !important;
  } */

@tailwind base;
@tailwind components;
@tailwind utilities;